@model ZeNerd.DAL.Context.Configuracao

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCrud.cshtml";
}

<style type="text/css">
    .switch {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 68px;
        margin: 0% 0 0 20%;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fa2d34;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 54px;
            width: 54px;
            left: 8px;
            bottom: 8px;
            background-color: white;
            transition: .4s;
        }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #00a753;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #00a753;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    #imgLegenda {
        width: 350px;
        height: auto;
        background-repeat: no-repeat;
        margin: 20% 0 0 5%;
    }
    @@media only screen and (max-width : 320px) {
        #imgLegenda {
            width: 150px;
            height: auto;
            background-repeat: no-repeat;
            margin: 20% 0 0 1%;
        }
    }

    @@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
        #imgLegenda {
            width: 200px;
            height: auto;
            background-repeat: no-repeat;
            margin: 20% 0 0 1%;
        }
    }

</style>

<span>


    <h1 style="margin:-40% 0 0 5%; font-weight:bold;">Loja aberta</h1>
    <label class="switch">

        @Html.CheckBoxFor(model => model.Aberto, new { onclick = "triggerLink()" })
        <div class="slider round">
        </div>
    </label>
</span>
<img id="imgLegenda" src="~/Content/AppBarragem.WEB.ADM/img/legendaLoja.png">

<script>
    // change event may modified to other events
    $("#Aberto").change(function () {

        // check if checkbox is being checked
        // taken from /a/23007488 by Alexandru Chichinete
        if ($("#Aberto").is(":checked")) {
            // enable form submit
        }
    });

</script>

<script>
    function triggerLink() {
        var theUrl = '@Url.Action("FormAberto", "Configuracao", new {userId = Model.Aberto}, null)';
        window.location = theUrl;
    }
</script>


