
@if (@TempData["ATENCAO"] != null)
{
    <div class="alert alert-danger alert-dismissible" style="position:fixed;width: 100%;
    margin: -20% 0% 0% 0%;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Alerta!</h4>


        @TempData["ATENCAO"].ToString()


    </div>
}



@if (@TempData["SUCESSO"] != null)
{
    <div class="alert alert-success alert-dismissible" style="position:fixed;width: 100%;
    margin: -20% 0% 0% 0%;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Mensagem!</h4>


        @TempData["SUCESSO"].ToString()


    </div>
}