@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutCrud.cshtml";
}

<h1 class="text-danger">Error.</h1>
<div style="background:url('../../Content/AppBarragem.WEB.ADM/img/Mascote Deseo_M2_Triste.png');background-repeat:no-repeat;">
    <h2 class="text-danger">
        Ocorreu um erro ao processar sua solicitação
    </h2>
</div>
